-
    const data = {
        assetsVersion: 1,
        googleAnalyticsId: 'UA-XXXXXXX-1',
        pageFavicon: {
            href: 'assets/favicon.png',
            type: 'image/png'
        },
        pageTitle: '~ SkyChat'
    }

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title= data.pageTitle
        link(rel='icon', href=data.pageFavicon.href, type=data.pageFavicon.type)
        link(rel='stylesheet', href='styles.css?' + data.assetsVersion)
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,900', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Work+Sans", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Russo+One", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/assets/vendors/noty/noty.css")
        link(rel="stylesheet", type="text/css", href="/assets/vendors/noty/nest.css")

        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
        script(src="https://unpkg.com/vuex@3.1.3/dist/vuex.min.js")

    script(async, src='https://www.googletagmanager.com/gtag/js?id=' + data.googleAnalyticsId)
        script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', '#{data.googleAnalyticsId}');
    body
        div#app
            page

        script(src='/assets/vendors/noty/noty.min.js')
        script(src='bundle.js?' + data.assetsVersion)
